
<div id="app" style="width:400px;margin:20px 60px;">
  <div class="" v-if="authUser" style="    border: 1px solid #d1d5da;border-radius:5px;">
    <div class="" style="display:flex;align-items: center;    padding: 10px;border-bottom: 1px solid #d1d5da;">
      <div style="margin-right:10px;">
        <img v-if="authUser.photoURL" :src="authUser.photoURL" height="50" alt="">
        <div v-else style="width:50px;height:50px;background:#99cd49;border-radius:50%;
          display:flex;align-items:center;justify-content:center;color:white;font-size:20px;    text-transform: uppercase;">
          {{authUser.email.substr(0,1)}}
        </div>
      </div>
      <div style="flex:1;display:flex;justify-content: space-between;">
        <div>
          <div style="display:flex;justify-content: space-between;">
            <div> {{authUser.email}} </div>
          </div>
          <div style="display:flex;justify-content: space-between;">
            <div>你好{{authUser.displayName}},欢迎您来到<span style="color:red;">约炮神器</span></div>
          </div>
          <div>叔叔，我们不约，我们只约阿姨！</div>
        </div>
        <div>
          <button class="btn btn-sm" type="button" name="button" @click="logout">退出</button>
        </div>
      </div>
    </div>
    <section style="background:white;padding:5px;height:600px;overflow-y: scroll;">
      <div style="display:flex;">
        <div v-for="ele in users" style="display: flex;padding:5px;
            flex-direction: column;
            align-items: center;
            justify-content: center;">
          <div style="margin:0px 5px;">
            <img v-if="ele.photo" :src="ele.photo" height="50" alt="">
            <div v-else style="width:50px;height:50px;background:#99cd49;
              display:flex;align-items:center;justify-content:center;color:white;font-size:20px;
              text-transform: uppercase;">
              {{ele.nickname.substr(0,1)}}
            </div>
          </div>
          <div>{{ele.nickname}}</div>
          <div>{{getFlatternDistance(user.latitude,user.longitude,ele.latitude,ele.longitude)}}</div>
        </div>
      </div>
    </section>
  </div>
  <div v-else class="">

    <form class="unminimized-comment editable-comment comment current-user previewable-edit js-comment js-task-list-container timeline-comment reorderable-task-lists "  method="post" @submit.prevent="register">
      <div class="clearfix timeline-comment-header">
        <h3 class="f5 text-normal timeline-comment-header-text">
          注册
        </h3>
      </div>
      <div class="comment-body">
        <input class="form-control form-control subnav-search-input input-contrast" type="text" v-model="email" name="" value="" placeholder="账号">
        <input class="form-control form-control subnav-search-input input-contrast" type="password" v-model="password" name="" value="" placeholder="密码">
        <button class="btn "   type="button" name="button" @click="register">注册</button>
      </div>
    </form>
    <form class="unminimized-comment editable-comment comment current-user previewable-edit js-comment js-task-list-container timeline-comment reorderable-task-lists "   method="post" @submit.prevent="register">
      <div class="clearfix timeline-comment-header">
        <h3 class="f5 text-normal timeline-comment-header-text">
          登陆
        </h3>
      </div>
      <div class="comment-body">
        <input class="form-control form-control subnav-search-input input-contrast" type="text" v-model="email" name="" value="" placeholder="账号">
        <input class="form-control form-control subnav-search-input input-contrast" type="password" v-model="password" name="" value="" placeholder="密码">
        <button class="btn " type="button" name="button" @click="login">登陆</button>
      </div>
    </form>
    <div class="">
      <button class="btn"  type="button" name="button" @click="loginWithGithub">使用Github快捷登陆</button>
      <button class="btn"  type="button" name="button" @click="loginWithGithub">使用Github快捷登陆</button>
    </div>
  </div>
</div>

<script src="firebase.5.5.9.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBU7btLIY06LtJonuBCJM1vG0NgE4PDWCo",
    authDomain: "github-4bd82.firebaseapp.com",
    databaseURL: "https://github-4bd82.firebaseio.com",
    projectId: "github-4bd82",
    storageBucket: "github-4bd82.appspot.com",
    messagingSenderId: "481207879273"
  };
  firebase.initializeApp(config);
  const auth = firebase.auth();
  const database = firebase.database();
</script>

<link rel="stylesheet" href="https://unpkg.com/native-toast@2.0.0/dist/native-toast.css">
<script src="https://unpkg.com/native-toast@2.0.0/dist/native-toast.min.js" charset="utf-8"></script>
<script src="vue.js"></script>
<script>
  new Vue({
    el:'#app',
    data:{
      email:'',
      password:'',
      authUser:null,
      messages:[],
      messageText:'',
      users:[],
      user:{},
      // nickname:'',
    },
    computed:{
      nickname(){
        return this.authUser.displayName || this.authUser.email;
      }
    },
    methods:{
      alert(message){
        nativeToast({
          message,
          position: 'north',
          // Self destroy in 5 seconds
          timeout: 5000,
          // type: 'warning'
        })
      },
      storeMessage(){
        // this.messages.push({text:this.messageText,nickname:this.nickname});
        let d = new Date();
        database.ref('messages').push({
          text:this.messageText,
          nickname:this.nickname,
          time: `${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`,
          photo:this.authUser.photoURL,
        });
        this.messageText='';
      },
      register(){
        auth.createUserWithEmailAndPassword(this.email,this.password)
        .then(res=> {
          this.addUserToDB();
          this.updatePosition();
        })
        .catch(error=> this.alert(error.message));
      },
      login(){
        auth.signInWithEmailAndPassword(this.email,this.password)
        .then(res=> this.updatePosition())
        .catch(error=> this.alert(error.message));
      },
      async addUserToDB(){
        let userId = auth.currentUser.uid;
        let user = (await database.ref('/users/' + userId).once('value')).val();
        !user && database.ref('users/' + userId).set({
          username: auth.currentUser.email,
          nickname: auth.currentUser.displayName || auth.currentUser.email,
          email: auth.currentUser.email,
          photo : auth.currentUser.photoURL,
        });
      },
      async updatePosition(){
        let userId = auth.currentUser.uid;
        let position = await this.getCurrentPosition();
        database.ref('users/' + userId).update({
          latitude:position.coords.latitude,
          longitude:position.coords.longitude,
        });
      },
      loginWithGithub(){
        const provider = new firebase.auth.GithubAuthProvider();
        auth.signInWithPopup(provider)
        .catch(error=> this.alert(error.message))
        .then(data=>{
          this.addUserToDB();
          this.updatePosition();
          console.log(data.user,data.credential.accessToken)
        })
      },
      logout(){
        auth.signOut()
      },
      toTop(){
        let that = this;
        setTimeout(e=>{
          that.$refs.chatlist.scrollTop=that.$refs.chatlist.scrollHeight;
        },100);
      },
      getCurrentPosition(){
        return new Promise(function(resolve, reject) {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(position=>{
                resolve(position);
              }, error=>{
                  reject(error);
                  switch(error.code) {
                    case error.TIMEOUT:
                        this.alert("A timeout occured! Please try again!");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        this.alert('We can\'t detect your location. Sorry!');
                        break;
                    case error.PERMISSION_DENIED:
                        this.alert('Please allow geolocation access for this to work.');
                        break;
                    case error.UNKNOWN_ERROR:
                        this.alert('An unknown error occured!');
                        break;
                }
              },{
                  // 指示浏览器获取高精度的位置，默认为false
                  enableHighAcuracy: true,
                  // 指定获取地理位置的超时时间，默认不限时，单位为毫秒
                  timeout: 5000,
                  // 最长有效期，在重复获取地理位置时，此参数指定多久再次获取位置。
                  maximumAge: 3000
              });
          }else{
              reject("Your browser does not support Geolocation!");
          }
        });
      },
      getFlatternDistance(lat1,lng1,lat2,lng2){
        var radLat1 = lat1*Math.PI / 180.0;
        var radLat2 = lat2*Math.PI / 180.0;
        var a = radLat1 - radLat2;
        var  b = lng1*Math.PI / 180.0 - lng2*Math.PI / 180.0;
        var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
        Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
        s = s *6378.137 ;// EARTH_RADIUS;
        s = Math.round(s * 10000) / 10000;
        return s;
      }
    },
    created(){
      auth.onAuthStateChanged(async user=>{
        this.authUser=user;
        if(user){
          database.ref('messages').on('value',snapshot=>{
             this.messages=snapshot.val();
             this.toTop();
          })
          database.ref('users').on('value',snapshot=>{
             this.users=snapshot.val();
          })
          this.user = (await database.ref('/users/' + user.uid).once('value')).val();
        }
      });



    }
  })


</script>
